[Unit]
Description=Run IP-SLA switch every {{ ip_sla.timer_every | default('60s') }}

[Timer]
OnBootSec=10s
OnUnitActiveSec={{ ip_sla.timer_every | default('60s') }}
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target
